
.download{
  background-color:#1d2631;
  text-align:center;
}

.download__button {
  width:80%;
  color: @white-color;
  font-family:"opensansbold","Arial",sans-serif;
  font-size: 18px;
  line-height: 18px;
  border:3px solid @white-color ;
  border-left:3px solid @white-color;
  border-right:3px solid @white-color;
  padding:10px;
  margin-top: 30px;
  margin-bottom: 40px;
  border-radius:40px;
  text-decoration: none;
  display:inline-block;
  text-align:center;
}

.download__list {
  list-style:none;
  display:flex;
  margin:0px;
  padding:0px;
  justify-content:center;
  padding:10px;
}


@media (min-width: 660px){
  .download{
    background-color:transparent;
    width:40%;
    padding-bottom:40px;

  }


.download__button{
  padding:7px;

}

}


@media (min-width: 960px) {
  .download {
    width:508px;
    order:2;
    padding-top:30px;
    text-align:left;
    margin-left:14px;

  }
.download__button{
  padding-top:18px;
  padding-bottom:13px;
  width:278px;

}

.download__list{
  width:250px;
  margin-left:27px;
}


}


