@text-color:#51575f;
@bg-colorblack:#1d2631;


.download{
  height:250px;
  background-color:@bg-colorblack;
  text-align:center;
}

.download__button {
  width:80%;
  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  border: 3px solid #b6b9bd;
  border-left:4px solid #b6b9bd;
  border-right:4px solid #b6b9bd;
  padding:10px;
  margin-top: 30px;
  margin-bottom: 40px;
  border-radius:40px;
  text-decoration: none;
  display:inline-block;
  text-align:center;
}

.download__list {
  list-style:none;
  display:flex;
  margin:0px;
  padding:0px;
}

.icon-list__item {
  width:350px;
}


.icon-list__content {
  max-width: 302px;
  color:@text-color;
  font-weight: 300;
  line-height: 24px;
  margin-bottom:15px;
  display:inline-block;

}
