.footer-form{
  display:none;
}


.footer__img{
  display:block;
  margin: 0 auto;
}



.reference{
 display:flex;
 justify-content:center;

}

.reference__link{

}

.reference__img{
  margin-top:4px;



}
.reference__text{
  color:#283645;
  font-family:"opensans","Arial",sans-serif;
  font-size:14px;
  text-align: center;
  margin-right:10px;

}

@media (min-width: 768px) {
  .footer-form{
    width:100%;
    position:absolute;
    bottom:1px;
    display:flex;
    justify-content:space-around;
    background-color:@white-color;



}

.footer__img{
  width:150px;
  padding-top:30px;
}

.reference{
  width:150px;
  padding-top:34px;

}

.reference__text{
  width:150px;
}
.map__image{
  position:relative;
}



}
