.footer-form-index{
  display:none;
}


.footer__img{
  display:block;
  margin: 0 auto;
}



.reference{
 display:flex;
 justify-content:center;

}

.reference__link{

}

.reference__img{
  margin-top:4px;



}
.reference__text{
  color:#283645;
  font-family:"opensans","Arial",sans-serif;
  font-size:14px;
  text-align: center;
  margin-right:10px;

}

.footer__link--desctope{
  display:none;
}


@media (min-width: 768px) {
  .footer-form-index{
    width:100%;
    display:flex;
    justify-content:space-around;
    background-color:@white-color;



}

.footer__img{
  width:150px;
  padding-top:30px;
}

.reference{
  width:150px;
  padding-top:34px;

}

.reference__text{
  width:150px;
}
.map__image{
  position:relative;
}



}



/*footer dlq form*/
@media (min-width: 768px){
.footer-form-form{
    display:flex;
    justify-content:space-between;
    background-color:@white-color;
    padding-left:10px;
    padding-right:10px;


  }

}

/*footer dlq form*/
@media (min-width: 1024px){
  .footer-form-form{
    width:936px;
    margin:20px auto;
  }


.footer__link--desctope{
  display:inline-flex;
}

.footer__link{
  display:none;
}

}
