
.contacts {
  text-align:center;
  margin-top: 10px;
}

.contacts__title {
  font-family:opensanslight,"Arial",sans-serif;
  font-size:24px;
  color:#283645;
  line-height:1.5em;
}


.contacts__invintashion{
  font-family:opensansbold,"Arial",sans-serif;
  font-size:18px;
  color:@text-color;

}
.contacts__link{
  font-family:opensanslight,"Arial",sans-serif;
  font-size:24px;
  color:#d22856;
  text-decoration:none;
}
