
.varify-user{
  margin-top: 35px;


}

.varify-user__item{
  list-style: none;
  margin-bottom:20px;


}


.varify-user__item .varify-user__label{
  color:#d22856;
  display:block;
}

.varify-user__text {
  display:block;
  text-transform: uppercase;
}





@media(min-width: 768px){

.varify-user__item .varify-user__label{
  display:flex;
}


.varify-user__text {
  display:inline;
  padding-right:10px;
  align-self:center;
}



}

@media(min-width: 1024px) {
 .varify-user{
  margin-top:0px;
 }
.varify-user__item .varify-user__label{
  display:flex;
  padding-bottom:11px;
}

.varify-user__text{
  padding-right:10px;
  padding-top:17px;
}

}
