.achivments-list {
  padding-left:10px;



}

.achivments-list__item{
  list-style:none;
  padding-bottom:50px;

}

.form__fieldset{
  border:0px;
}



.form__legend{
width:215px;
text-align:center;
margin:0 auto;
margin-top:20px;
color: #d22856;
font-family:"opensans","Arial",sans-serif;
font-size: 14px;



}

.achivments-list__text{
  margin:20px;
  font-family:"opensans","Arial",sans-serif;
  font-size: 18px;
  line-height: 30px;
}
