
.varify-user{
  margin-top: 35px;


}

.varify-user__item{
  list-style: none;
  margin-bottom:20px;


}


.varify-user__item .varify-user__label{
  color:#d22856;
  display:block;
}

.varify-user__text {
  display:block;
  padding-bottom:12px;
}
