.contest {
  padding-top:90px;
  padding-top:70px;
  background-position:center;


}

.contest__title {
  width:303px;
  font-family:"opensanslight","Arial",sans-serif;
  font-size:24px;
  color:@white-color;
  line-height:30px;
  margin:0 auto;
  text-align:center;
  padding-top:35px;




}



