.form-varify {
  margin-top:60px;


}

.form-varify__title{
  font-family:"opensans","Arial",sans-serif;
  font-size:14px;
  color:@text-color;
  text-align:center;

}


.varify-user__input {
  width:80%;
  font-family:"opensans","Arial",sans-serif;
  font-size:14px;
  color:@text-color;
  padding:18px 18px;
  border: 2px solid #e5e5e5;

}
