.form-info {

}

.info-buttons {
  list-style: none;

}

.info-buttons__item{
  margin-bottom:20px;

}

.info-buttons__img{
  display: none;
}

.info-buttons__input{
  width:80%;
  font-family:"opensans","Arial",sans-serif;
  font-size:14px;
  color:@text-color;
  padding:18px 18px;
  border: 2px solid #e5e5e5;

}

.info-buttons__text{
  display:block;
  color:#d22856;
  padding-bottom:20px;
}




@media(min-width: 660px){
.form-info{
  order:4;
  width:100%;
}

.info-buttons__input{
  width:65%;
}

.info-buttons__img{
  display:inline;
  order:2;
  padding:20px;
  border:none;
}

.info-buttons__label{
  display:flex;
  flex-wrap:wrap;
  padding-top:10px;
  box-sizing:border-box;

}
.info-buttons__input{
  width:70%;
  order:1;
  padding:20px 18px;

}

.info-buttons__text{
  order:3;
  width:100%;
  padding-top:10px;
  padding-left:20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  padding-bottom:0px;

}
.info-buttons{
  padding-left:70px;
}
}


@media(min-width: 960px){

.info-buttons{
  display:flex;
  margin:0px;

}


.info-buttons__item{
  width:50%;
}





.form__fieldsetinfo{
  padding:0px;
  margin:0 auto;


}

}
