.icon-list__item {
  width:350px;
}


.icon-list__content {
  max-width: 302px;
  color:#ffffff;
  font-family:"opensanslight","Arial",sans-serif;
  line-height: 24px;
  margin-bottom:15px;
  display:inline-block;

}
