

.list-paragraph{
  list-style: none;
  padding:0px;
  margin:0px;

}


.list-paragraph__title{
  width: 250px;
  margin:10px auto;
  font-family:opensansbold,"arial",sans-serif;
  font-size:18px;
  color:#000000;
  line-height: 24px;

}

.list-paragraph__item{
  text-align:center;

}
.list-paragraph__text{
  margin:0 auto;
  width: 270px;
  font-family:opensans,"arial",sans-serif;
  font-size:14px;
  text-align:center;
  line-height: 24px;

}

.list-paragraph__wrapper{
  text-align:center;
}
