
.map {
  margin-top:15px;
}

.map__image {
  height:272px;
  background-image:url(../img/bg-map-mobile@1x.png);
  background-position:left bottom;
  background-size:500px 800px;
  position:relative;
}


.map__image::before {
  content:"";
  height:62px;
  display:block;
  background-image:url(../img/bg-triangle-white-footer.svg);
  background-position:center;
}

.map__icon{
  position:absolute;
  left:220px;
  top:140px;

}


