.exsemple-post{
  background-color:@greybg-color;

}

.exsemple-post__img{
  padding:20px;

}

.exsemple-post__btn{
  border:none;
  background:none;
  padding:0px;

}
.exsemple-post__submit{
  text-align:center;
  margin:0 auto;
}

.exsemple-post__input--tablet{
  display:none;
}



.exsemple-post__sliderconteiner{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.exsemple-post--mobile{
  width:100%;

}

.exsemple-post__wrapper1{
text-align:center;
}

@media (min-width:768px){


.exsemple-post__sliderconteiner{
  display:inline;

}

.exsemple-post__input--tablet{
  display:inline;
}


  .exsemple-post{
    display:flex;

  }

.exsemple-post__wrapper1{
  width:50%;

}


.exsemple-post__btn{
  width:30%;
}

.exsemple-post__input{
  width:50%;
}



.exsemple-post__wrapper2{
  width:50%;

}

.exsemple-post__input--tablet{
  margin-left:50px;
}


.exsemple-post__submit{
  text-align:center;
  margin:0 auto;
}

.exsemple-post__img{
  width:300px;
  height:400px;

}

.exsemple-post--mobile{
  width:auto;
  padding:0px;
  margin-left:50px;

}

}

@media (min-width:1024px){
  .exsemple-post{
    width:940px;
    text-align:center;
    margin:0 auto;
  }

.exsemple-post__btn{
  width:30%;
}

.exsemple-post__input{
  width:55%;
}

  .exsemple-post__img{
  width:300px;
  height:400px;


}

.exsemple-post__wrapper1{
  text-align:center;
  margin:0 auto;
}

.exsemple-post__submit{
  padding-top:100px;
}
}
