.foto-users{

}

.foto-users-wrapper{
  padding-left:17px;
}

.foto-users__eddition{
  width:120px;
  position:absolute;
  text-align:center;
  top:378px;
  left:189px;
  background-color:#d22856;
  font-family:"opensansbold","Arial",sans-serif;
  font-size: 12px;
  color:@white-color;
  padding-bottom:5px;

}

.foto-users__list{
 list-style:none;
 padding-left:20px;
 padding-right:20px;


}

.foto-users__item{
  background-color:@greybg-color;
  margin-top:25px;

}

.foto-users__item--big{

}

.foto-users__image{
  width: 100%;



}
.foto-users__image--big{


}

.foto-users__cite-author{
  display:block;
  font-family:"opensansbold","Arial",sans-serif;
  font-size: 14px;
  color:@text-color;



}

.foto-users__span{
  font-family:"opensanslight","Arial",sans-serif;
  font-size: 14px;
  color:@text-color;
  line-height: 24px;
}



.foto-users__button{
  border:none;
  background:none;
  padding:0px;
  padding-right:10px;


}

.foto-users__text{
  font-family:"opensanslight","Arial",sans-serif;
  font-size: 14px;
  color:@text-color;
}

.foto-users__like{
  display:inline;
  font-family:"opensans","Arial",sans-serif;
  font-size: 12px;
  color:#d22856;
  line-height: 24px;
}
