.prices {
  margin-top:30px;
  background-color:#f2f2f2;

}

.table-pricing {
  width:100%;
  margin:0 auto;
  border-collapse:collapse;
  border:2px solid #f2f2f2;
  position:relative;

}
.table-pricing__caption{
  background-color:#283645;
  font-family:"opensansbold","Arial",sans-serif;
  font-size:18px;
  color:#ffffff;
  border:2px solid #f2f2f2;
  padding-bottom:25px;
  padding-top:15px;
}

.table-pricing__price{
  display:block;
  font-family:"opensanslight","Arial",sans-serif;
  font-size:24px;
}

.table-pricing__text{

}

.table-pricing__spacial{
  background-image:url(../img/bg-hit.svg);
  color:@white-color;
  padding:5px;
  position:absolute;
  left:1px;
  top:5px;
}


.table-pricing__cells{
  font-family:"opensans","Arial",sans-serif;
  color:#283645;
  border:2px solid #f2f2f2;
  background-color:#ffffff;
}


.table-pricing__imagecell path{
  fill:#3dc644;
}

.table-pricing__imagecell--no path{
  fill:#f25b26;
}

.prices__toggles {
  margin-top:10px;
 }


