.proposals{
  background-color:#f2f2f2;

}

.proposals__wrapper {
   background-color:#ffffff;

}

.proposals__title{
  width:350px;
  text-align:center;
  font-family:opensanslight,"arial",sans-serif;
  color:@text-color;
  font-size: 24px;
  display:inline-block;



}
.proposals__title--second {
  margin-top:48px;
}

