.reviews {
  background-color:#ffffff;

}

.reviews__wrapper {

}

.reviews__author-name{
  font-family:opensansbold,"Arial",sans-serif;
  color:@black-color;
  font-size:18px;

}

.reviews__text{
  font-family:opensans,"Arial",sans-serif;
  color:@text-color;
  line-height:30px;


}
