.site-list {
  display:none;
  background-color:@text-color;
  color:@white-color;

}
.site-list__item {

}
.site-list__link {

}

.main-nav__list{

}
@media (min-width: 1024px) {
  .site-list {
    display:inline;



  }


}
