.slider {
  display: flex;
  justify-content: center;

}

.slider__button {
  height:12px;
  width:12px;
  border-radius: 150px;
  display:block;
  background-color:grey;
  border: none;
  padding:0px;
  margin-left: 10px;
}

.slider__button--current {

}

.slider__button--first {

}

@media (min-width: 1024px)
{
  .slider{
  display:none;

}

}
