.top-line {
  background-color:rgba(0,0,0,0.3);
  display:flex;
  flex-wrap: wrap;
  justify-content:space-around;

}


.top-line__wrapper{
  display:flex;
  justify-content:space-between;
  width:100%;
  border-bottom:2px solid black;
  padding-top: 8px;
  padding-bottom:8px;

}




@media (min-width: 768px){

.page-header_logo-image{
  width:147px;
  height:40px;
}


}



@media(min-width: 1024px){

.top-line__wrapper{
  border-bottom:none;
}

.top-line__wrapper{
  width:auto;
}

.top-line__button{
  display:none;
}

.page-header_logo-image{
  width:145px;
  height:35px;
  align-self: baseline;
}


}

